.best-deals{
    padding: 0px 10px;
    .title{
        grid-column: 1/4;
        text-align: center;
        // background-color: #fc3131;
        background-color: rgb(255, 217, 0);
        width: fit-content;
        margin: auto;
        font-size: 4em;
        border: 2px dashed black;
        padding: 10px;
    }
    gap: 50px 50px;
    // background-color: gray;
    .box{
        border: 1px solid black;
    }
    .meal{
        text-transform: capitalize;
        .meal-detailes{
            font-weight: bold;
            width: 100%;
            padding: 10px;
            .name{
            }
        }
        overflow: hidden;
        border-radius: 10px;
        // background-color: pink;
        border: 1px solid black;
        height: fit-content;
        img{
            width: 100%;
        }
    }
}