footer{
    background-color: black;
    color: white;

    .container{
        *{
            margin-top: 10px;
        }
        span{
            display: block;
            text-align: center;
            font-size: 4em;
            padding-top: 30px;
        }
        .phone{
            width: fit-content;
            height: 30px;
            img{
                width: 20px;
                margin-right: 5px;
            }
        }
    }
}