.container.special, .container.pasta {
  h2 {
    font-size: 4em;
  }
  .slider {
    &::-webkit-scrollbar {
      width: 5px;
      height: 8px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 100px;
      background: #000;
    }
    overflow-x: scroll;
    padding: 40px 0px;
    width: 1440px;
    .meals {
      .meal {
        text-transform: capitalize;
        margin-inline: 20px;
        .meal-detailes {
          font-weight: bold;
          width: 100%;
          padding: 10px;
        }
        overflow: hidden;
        border-radius: 10px;
        border: 1px solid black;
        height: fit-content;
        img {
          width: 100%;
        }
      }
    }
  }
}
